.product-wrap{
    position: relative;
    background: #fff;
}

.detail-wrap{
    position: relative;
    background: #f4f4f4;
    margin-bottom: 30px;
}
.detail-inside{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    width: 100%;
}
.detail-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}