.overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

.overlay.Show {
  display: block;
}
.modal-wrap {
  width: 600px !important;
}
.modal {
  position: fixed;
  bottom: -150vh;
  background-color: #fff;
  width: inherit;
  min-height: 400px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  z-index: 10;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal.Show {
  bottom: 0;
}
.modal-content {
  padding: 0.5rem;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 10px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
}
